html {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Fira Sans", serif;
}

body {
  background-color: hsl(227, 36%, 95%);
}

section {
  max-width: 800px;
  margin-inline: auto;
  margin-block-start: 3rem;
  /* border: 1px solid lightgrey; */
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}

h1 {
  padding-block-end: 2rem;
  font-size: 4rem;
  font-weight: 200;
  font-family: var(--font-family);
  opacity: 0.7;
}

form {
  display: flex;
  gap: 2rem;
}

form > div {
  padding-block-end: 1rem;
}

form > div > input {
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
  border-style: unset;
  background-color: hsl(227, 36%, 95%);
  padding-inline-start: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
  color: rgba(0, 0, 0, 0.7);
}

form > div > input:focus {
  outline: unset;
  border: 3px solid hsl(226, 100%, 70%);
}

form > div > label {
  margin-inline-end: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-family);
}

form > div > button {
  width: 10rem;
  height: 5rem;
  border-radius: 1rem;
  border-style: unset;
  background: linear-gradient(90deg, hsl(209, 100%, 76%), hsl(226, 100%, 70%));
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--font-family);
}

form > div > button:hover {
  background: linear-gradient(-90deg, hsl(209, 100%, 76%), hsl(226, 100%, 70%));
}

article {
  padding-block-start: 2rem;
  font-size: 1.6rem;
}

article > ul > li {
  list-style: none;
  font-family: var(--font-family);
  border-top: 1px solid hsl(209, 100%, 76%);
  padding-block: 1rem;
  opacity: 0.7;
}

@media (max-width: 500px) {
  section {
    margin-block-start: unset;
    min-height: 100vh;
  }
  form {
    flex-direction: column;
    gap: unset;
  }
}
